@mixin bg-image($url){
	background-image:url($url + '@2x.png');
	@media screen and (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3){
		background-image:url($url + '@3x.png');
	}
}

@mixin border-bottom-1px($color){
	position:relative;
	&:after{
		content:'';
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		border-bottom:1px solid $color;
	}
	@media screen and (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
		&:before{
			transform:scaleY(0.7);
			-webkit-transform:scaleY(0.7);
		}
	}
	@media screen and (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
		&:before{
			transform:scaleY(0.5);
			-webkit-transfrom:scaleY(0.5);
		}
	}
}

@mixin border-right-1px($color){
	position:relative;
	&:after{
		content:'';
		position:absolute;
		right:0;
		top:0;
		height:100%;
		width:1px;
		border-right:1px solid $color;
	}
	@media screen and (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
		&:after{
			transform:scaleX(0.7);
			-webkit-transform:scaleX(0.7);
		}
	}
	@media screen and (-webkit-min-device-pixel-radio:2),(min-device-pixel-ratio:2){
		&:after{
			transform:scaleX(0.5);
			-webkit-transform:scaleX(0.5);
		}
	}
}

@mixin border-none{
	&:after,&:before{
		border:none;
	}
}

@mixin text-ellipsis{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}